.section.contact-form
	%h2.lab-title
		HABLA CON NOSOTROS

	%form.row.contact-form-row
		.col-lg-6.col-md-6
			.contact-form-parraph
				Rellena este formulario y en menos de 48 horas te responderemos.
			.contact-form-border
				.contact-form-label
					Nombre de la empresa*
				%input.contact-form-company{type: "text", name: "company_name"}
				.contact-form-label
					Teléfono de contacto
				%input.contact-form-textfield{type: "text", name: "phone"}
				.contact-form-label
					Email de contacto*
				%input.contact-form-textfield{type: "text", name: "email"}
				.contact-form-label
					Comentario
				%textarea.contact-form-textarea{name: "comentary"}
			%button.lab-btn.lab-btn-big.lab-btn-white.contact-form-btn
				ENVIAR
		.col-lg-6.col-md-6
			.contact-form-parraph
				O si prefieres, contacta con nosotros por via email o teléfono.
			.contact-form-group
				.contact-form-phone
					hola@extraslab.com
				.contact-form-phone
					960 094 683
				.contact-form-title
					Estamos aquí
				.contact-form-city
					c/navardera,5
				.contact-form-city-2
					Valencia. 46024
				.contact-form-title
					Horario laboral
				.contact-form-city-2
					Lunes a viernes de 08:00 a 18:00 h.
				.contact-form-title
					Exactamente aquí
				%iframe.contact-form-map{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.4153836526593!2d-0.3357231847157731!3d39.45994372119321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048594af94f29%3A0x18baa1cd1f1c9e79!2sCalle+Navardera%2C+5%2C+46024+Valencia%2C+Espa%C3%B1a!5e0!3m2!1ses-419!2sve!4v1456251172568", :style => "border:0", :width => "600"}

