.newsletter.hidden-xs.hidden-sm
	.close{onclick: 'hideNewsletter()'}
		X
	.newsletter-info
		.newsletter-info-img
			= image_tag 'frontend/IconoSuscrpción.png'
		.newsletter-info-text
			.newsletter-title
				SUSCRÍBETE
			a nuestra newsletter
	%form.newsletter-form
		%input.newsletter-form-input{type: "text", name: "email", placeholder: "Email", id: 'email'}
		%button.newsletter-form-button.lab-btn.lab-btn-yellow.newsletter-btn{ onClick: 'sendNewsletter()' }
			%a
				ENVIAR
