.service-section
	= render 'frontend/identity/home'
	= render 'frontend/identity/text'
	= render 'frontend/identity/pricing_lg'
	= render 'frontend/identity/pricing_xs'
	= render 'frontend/services/breafing'
	= render 'frontend/services/carousel'