.landing
	= render 'frontend/landing/home'
	= render 'frontend/landing/about'
	= render 'frontend/landing/services'
	= render 'frontend/landing/quotes'
	= render 'frontend/landing/contact_us'
	= render 'frontend/landing/blog'