.service-section
	= render 'frontend/socials/home'
	= render 'frontend/socials/text'
	= render 'frontend/socials/pricing_lg'
	= render 'frontend/socials/pricing_xs'
	= render 'frontend/services/breafing'
	= render 'frontend/services/carousel'	