.service-section
	= render 'frontend/web/home'
	= render 'frontend/web/text'
	= render 'frontend/web/pricing_lg'
	= render 'frontend/web/pricing_xs'
	= render 'frontend/services/breafing'
	= render 'frontend/services/carousel'
