.lab-button-up {
  background: $darkgray-transparent;
  border-radius: 5px;
  bottom: -5px;
  cursor: pointer;
  padding: 7px 15px;
  position: absolute;
  right: 30px;
  z-index: 10000;

  i {
    color: $white;
    font-size: 30px;
    font-weight: 400;
  }

  &:hover {
    background: $darkgray;
  }
}
