$button-colors: (
  ('gray', $lightgray-hover, $lightgray, $white),
  ('green', $green, $green-hover, $white),
  ('white', $white, $white-hover, $black),
  ('yellow', $yellow, $yellow-hover, $white)
);

.lab-btn {
  border: 0;
  border-radius: 0;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 5px 50px;
}

.lab-btn-service {
  background: $btngray;
  border: 0;
  border-radius: 0;
  box-shadow: 4px 4px 1px $darkgray;
  color: $white;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 3%;
  padding: 16px 25px;

  &:focus,
  &:hover {
    color: $white;
    outline: 0;
    text-decoration: none;
  }
}

.lab-btn-big {
  padding: 15px 100px;
}

@each $label, $color, $hover, $text in $button-colors {
  // Button style
  .lab-btn-#{ $label }{
    @include transition(1s);
    background: $color;
    outline: none;

    a {
      color: $text;
      text-decoration: none;
    }
  }

  .lab-btn-#{ $label }:hover{
    background: $hover;
  }
}
