.lab-quote {
  font-family: $raleway;
  font-size: 1.7rem;
  font-weight: 300;

  .lab-quote-text {
    line-height: 3rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;

    @include respond-to(sm) {
      font-size: 1.25rem;
    }

    @include respond-to(xs) {
      font-size: 1.25rem;
    }

    i {
      font-weight: 700;
      font-size: 12rem;
      font-family: $sourcepro;

    }
    .end-quote {
      position: absolute;
      bottom: -20px;
      margin-left: -10px;
    }
  }

  .fa-quote-left,
  .fa-quote-right {
    display: inline-block;
    font-size: 3rem;
  }


  .lab-quote-data {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
    height: 120px;
    margin-top: 2.2%;

    &-image,
    &-name {
      display: inline-block;
    }

    p {
      line-height: 2.3rem;
      text-align: left;
    }

    span {
      display: block;
      font-weight: 600;
    }

    &-image img {
      margin-right: 50px;
      width: 100px;
    }
  }

}
