.lab-gallery {
  font-family: $raleway;
  padding-top: 1%;

  &-col {
    padding: .3%;

    @include respond-to(sm) {
      margin-bottom: 50px;
    }

    @include respond-to(xs) {
      margin-bottom: 50px;
    }
  }

  &-item {
    background-position: center;
    background-size: cover;
    height: 41.5vh;
    position: relative;
    width: 100%;

    @include respond-to(xs) {
      @include orientation(landscape) {
        height: 90vh;
      }
    }

    @include respond-to(xl) {
      height: 50vh;
    }

    @include respond-to(md) {
      @include orientation(landscape) {
        height: 34vh;
      }
    }

    &-text {
      background: $black;
      bottom: 0;
      color: $white;
      font-size: 1.5rem;
      font-weight: 400;
      padding-bottom: 4%;
      padding-top: 4%;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  &-list {
    padding-left: 7.7%;
    padding-top: 9.1%;

    li {
      font-size: 1.5rem;
      list-style-type: none;
      padding-bottom: 7%;
    }
  }

  &-list-2 {
    @extend .lab-gallery-list;
    padding-right: 24%;

    @include respond-to(xs) {
      padding-right: 17%;
    }
  }

  &-list-btn {
    padding-left: 7.7%;
    padding-top: 5%;
  }

}
