.front-navbar {
  background-color: $white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 10px $primary-shadow;
  font-weight: bold;
  height: 80px;
  margin-bottom: 0;
  padding-top: 25px;

  @include respond-to(sm) {
    padding-top: 0;
  }

  @include respond-to(xs) {
    height: 50px;
    padding-top: 0;
  }

  @include respond-to(md) {
    @include orientation(landscape) {
      height: 67px;
    }
  }

  .container {
    width: 91.6%;
  }

  .navbar-header {
    @include respond-to(sm) {
      width: 100%;
    }

    @include respond-to(xs) {
      width: 110%;
    }
  }



  .navbar-nav {
    visibility: hidden;

    @include respond-to(xl) {
      visibility: visible;
    }

    @include respond-to(lg) {
      visibility: visible;
    }

    @include respond-to(md) {
      visibility: visible;
    }

    @include respond-to(sm) {
      height: 0;
    }

    @include respond-to(xs) {
      height: 0;
    }

    li  a {
      border-bottom: 3px solid transparent;
      color: $black;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 500;
      margin: 2px 10px;
      padding: 0;
      padding-bottom: .4em;

      &:hover {
        border-bottom-color: $black;
      }
    }
  }

  .navbar-toggle {
    @include respond-to(sm) {
      display: none;
    }

    @include respond-to(xs) {
      display: none;
    }
  }

  .dropdown-toggle {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    visibility: visible;
    width: 45px;
    z-index: 10000;

    @include respond-to(xl) {
      visibility: hidden;
    }

    @include respond-to(lg) {
      visibility: hidden;
    }

    @include respond-to(md) {
      visibility: hidden;
    }

    @include respond-to(xs) {
      height: 40px;
      right: 5px;
      top: 5px;
      width: 40px;
    }

    #menu {
      background: transparent;
      background-image: url('Menu.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 25px;
      width: 25px;

      @include respond-to(xs) {
        height: 20px;
        width: 20px;
      }
    }
  }

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    left: initial;
    margin: 0;
    padding-top: 80px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;

    @include respond-to(xs) {
      padding-top: 65px;
      top: -20px;
      width: 180px;
    }

    li {
      padding-bottom: 10px;
      padding-left: 10px;
      padding-top: 10px;
    }

    a {
      color: $black;
      font-size: 15px;
      padding: 5px 20px;

      @include respond-to(xs) {
        padding: 0 20px;
      }
    }
  }

  .brand-logo {
    padding-top: 0%;

    @include respond-to(sm) {
      padding-top: 4%;
    }

    @include respond-to(xs) {
      padding-top: 6%;

      @include orientation(landscape) {
        padding-top: 3%;
      }
    }

    img {
      height: 27px;
      margin-left: -6%;
      width: 215px;

      @include respond-to(md) {
        height: 18px;
        width: 150px;
      }

      @include respond-to(xs) {
        height: 18px;
        width: 150px;
      }
    }
  }
}
