.lab-title-inverse {
  background: $darkbrown;
  color: $white;
  font-family: $raleway;
  font-weight: 200;
  padding: 14px 4rem 10px 4rem;
  text-align: center;
}

.lab-title {
  color: $black;
  font-family: $raleway;
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 30px;
  padding: 2px 35px;
  text-align: center;

  @include respond-to(xs) {
    font-size: 2.5rem;
    padding: 2px 0;
  }

  span {
    font-weight: 500;
  }
}
