.section.about
	%h2.lab-title	SOMOS

	.about-first
		%p
			Somos un equipo joven, versátil, con una clara visión basada en la optimización y en la comprensión de las necesidades del entorno. Eschamos, reflexionamos, analizamos y actuamos siempre basándonos en nuestro cliente y en el impacto que este desea tener. 
	.about-second
		%p
			Las personas que componen Extraslab llevan tiempo experimentando nuevos proyectos, retos y experiencias. Forjando el carácter	del equipo alrededor de los pilares fundamentales que para nosotros son el profesionalismo en todas las misiones que se nos confían, la empatia a la hora de entender nuestro cliente y su entorno y por ende, la máxima calidad que siempre buscamos y brindamos a cada uno de nuestros clientes.
	.about-second
		%p
			Para nosotros, cualquier proyecto es realizable, toda adversidad con reflexión y análisis puede ser convertida en ventaja y todo reto merece la pena.