.section.lab
	%h2.lab-title	NUESTRO LAB

	.lab-first
		%p
			En nuestro laboratorio es donde se mezclan todas las substancias necesarias que nos permiten desarrollar proyectos extraordinarios y especiales. Todo trabajo es único y de máxima importancia para nosotros. Nuestro equipo vive la elaboración de cada uno de los proyectos de forma singular y aporta siempre todo lo mejor para que el cliente quede encantado con nuestro trabajo.

.lab-image

.section.services
	.center
		%a.lab-btn.lab-btn-big.lab-btn-white.services-btn{href: "/services"}
			VER SERVICIOS
