.wrapper{
  &-body{
    .collection {
      margin: 10px;
    }
  }

  &-inputs {
    margin-bottom: 0;

    .row {
      margin-bottom: 0;
    }

    .card {
      margin-bottom: 40px;
    }

    .help-inline {
      color: $error-color;
      position: relative;
      top: -15px;
    }

    .select > .help-inline {
      top: 0;
    }

    .form-actions {
      margin: 10px;
    }

    .collection_radio_buttons,
    .collection_check_boxes {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 28px;
      vertical-align: -2px;
    }

    .input-field.ckeditor {
      margin-top: 30px;

      label.ckeditor {
        top: -25px;
      }

      label.ckeditor.active {
        font-size: 16px !important;
        top: 0;
      }
    }
  }
}
