@import 'nprogress';
@import 'nprogress-bootstrap';

body {
  overflow-x: hidden;
  overflow-y: hidden;

  .pageslide-background {
    @include transition(.25s);
  }
}

html,
body {
  background: $gray-lighten;
  height: 100%;
  position: relative;

  main .row {
    margin-bottom: 0;
  }

  .waiting {
    background: rgba($black, .75);
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100 * 10;

    .preloader-wrapper {
      position: relative;
      top: 45%;

      @media #{$small-and-down} {
        top: 40%;
      }
    }
  }

  .material-tooltip{
    border-radius: 0 !important;
    height: 25px !important;
    margin-top: -2px !important;
    min-height: 25px !important;
    padding: 5px !important;

    span{
      font-size: 12px !important;
    }
  }

  .pagination {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;

    .btn-floating {
      box-shadow: none;
      color: rgba($black, .54) !important;
      font-weight: 600;
    }
  }

  ul#noty_bottomRight_layout_container {
    right: 12px !important;

    li {
      border-radius: 0 !important;
      border: 0;
    }

    .noty_bar {
      background: rgba($black, .73);
      border-radius: none;
      color: $white;
    }
  }

  .modal-header {
    h4 {
      color: $white;
      font-size: 1.5em;
      font-weight: 500;
      padding: 10px;
    }
  }

  .modal-content {
    padding: 10px !important;
  }

  .modal-footer {
    padding: 0 10px 10px;

    .modal-close {
      margin-right: 10px;
    }
  }
}

.input-field.error {
  input {
    border-bottom: 2px solid $error-color;
  }
}

.btn-index-add {
  display: none;

  @media #{$small-and-down} {
    bottom: 20px;
    display: block;
    position: fixed;
    right: 20px;
  }
}

.admin {
  margin-bottom: 0;
}

.input-errors {
  color: $error-color;
  margin-top: -15px;
}

.card {
  background-color: $white !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 2px rgba($black, .3) !important;
  overflow: visible !important;

  .card-image {
    max-height: 60% !important;
    position: relative;
  }

  .remove-field {
    bottom: 45px;
    position: absolute;
    right: 20px;
  }

  .remove-dield > label.checkbox_material {
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    background: rgba($black, .8);
    border-radius: 3px;
    color: $white;
    height: 30px;
    width: 225px;
  }

  .remove-dield > [type="checkbox"] + label::before {
    border: 2px solid $white;
    margin-left: 7px;
    margin-top: 6px;
  }

  .remove-dield > [type="checkbox"]:checked + label::before {
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    margin-left: 5px;
  }
}

//spinner request turbolink
.rotate {
  @include animation(rotate .6s linear infinite);
}

@include keyframes(rotate) {
  to {
    @include transform(rotate(360deg));
  }
}
