.section.description.hidden-sm.hidden-xs
	.pricing 
		.pricing-box.pricing-box-first
			%ul
				%li.right
					DESARROLLO ESTRATEGIA
				%li.right
					PUBLICACIONES
					%br
					FACEBOOK
				%li.right
					PUBLICACIONES					
					%br
					TWITTER
				%li.right
					PUBLICACIONES
					%br
					INSTAGRAM
				%li.right
					PUBLICACIONES
					%br
					GOOGLE+
				%li.right
					MODERACIÓN COMENTARIOS
				%li.right
					INFORMES MENSUALES
					%br
					POR RED SOCIAL
				%li.right
					ALTA AGREGADORES
					%br
					HOSTELERÍA
				%li.right
					GESTIÓN CONCURSOS
					%br
					Y EVENTOS
			

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					TAPAS
				.center
					.pricing-line
				.pricing-price
					149€
			%ul
				%li
					Sí
				%li
					%span
						16
					al mes
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li
					Si
				%li
					%span
						1
					Red
				%li.no-valid
					No

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					APERITIVO
				.center
					.pricing-line
				.pricing-price
					199€
			%ul
				%li
					Sí
				%li
					%span
						26
					al mes
				%li
					%span
						20
					al mes
				%li
					%span
						10
					al mes
				%li
					%span
						4
					al mes
				%li
					Si
				%li
					Si
				%li
					%span
						1
					Red
				%li.no-valid
					No

		.pricing-box.pricing-box-three
			.pricing-highlighted
				.pricing-head
					.pricing-title
						DEGUSTACIÓN
					.center
						.pricing-line
					.pricing-price
						299€
					.pricing-promo
						INCLUYE SESIÓN
					.pricing-promo
						FOTOGRÁFICA DE REGALO
				%ul
					%li
						Sí
					%li
						%span
							36
						al mes
					%li
						%span
							40
						al mes
					%li
						%span
							20
						al mes
					%li
						%span
							8
						al mes
					%li
						Si
					%li
						Si
					%li
						%span
							2
						Red
					%li
						Si
					

		.pricing-box.pricing-box-four
			.pricing-head
				.pricing-title
					GOURMET
				.center
					.pricing-line
				.pricing-price
					399€
				.pricing-promo
					INCLUYE SESIÓN
				.pricing-promo
					FOTOGRÁFICA DE REGALO
			%ul
				%li
					Sí
				%li
					%span
						48
					al mes
				%li
					%span
						112
					al mes
				%li
					%span
						20
					al mes
				%li
					%span
						12
					al mes
				%li
					Si
				%li
					Si
				%li
					%span
						2
					Red
				%li
					Si
				
		.clearfix