.section.visible-sm.visible-xs
	.pricing-xs 
		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					TAPAS
				.pricing-xs-price.pull-right					
					149€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#tapas-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#tapas-list
				%ul
					%li
						DESARROLLO ESTRATEGIA
					%li
						16 PUBLICACIONES FACEBOOK
						%br 
						AL MES
					%li
						INFORMES MENSUALES POR 
						%br
						RED SOCIAL
					%li
						ALTA AGREGADORES 
						%br 
						HOSTELERÍA 
						%span (1 RED)

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					APERITIVO
				.pricing-xs-price.pull-right					
					199€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#aperitivo-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#aperitivo-list
				%ul
					%li
						DESARROLLO ESTRATEGIA
					%li
						26 PUBLICACIONES FACEBOOK
						%br 
						AL MES
					%li
						20 PUBLICACIONES TWITTER
						%br 
						AL MES
					%li
						10 PUBLICACIONES INSTAGRAM
						%br 
						AL MES
					%li
						4 PUBLICACIONES GOOGLE +
						%br 
						AL MES
					%li
						MODERACIÓN COMENTARIOS
					%li
						INFORMES MENSUALES POR 
						%br
						RED SOCIAL
					%li
						ALTA AGREGADORES 
						%br 
						HOSTELERÍA 
						%span (1 RED)

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title.pricing-hightlight
					DEGUSTACIÓN
				.pricing-xs-price.pull-right					
					299€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#degustacion-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#degustacion-list
				%ul
					%li
						DESARROLLO ESTRATEGIA
					%li
						36 PUBLICACIONES FACEBOOK
						%br 
						AL MES
					%li
						40 PUBLICACIONES TWITTER
						%br 
						AL MES
					%li
						20 PUBLICACIONES INSTAGRAM
						%br 
						AL MES
					%li
						8 PUBLICACIONES GOOGLE +
						%br 
						AL MES
					%li
						MODERACIÓN COMENTARIOS
					%li
						INFORMES MENSUALES POR 
						%br
						RED SOCIAL
					%li
						ALTA AGREGADORES 
						%br 
						HOSTELERÍA 
						%span (2 RED)
					%li
						GESTIÓN CONCURSOS Y EVENTOS

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					GOURMET
				.pricing-xs-price.pull-right					
					399€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#gourmet-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#gourmet-list
				%ul
					%li
						DESARROLLO ESTRATEGIA
					%li
						48 PUBLICACIONES FACEBOOK
						%br 
						AL MES
					%li
						112 PUBLICACIONES TWITTER
						%br 
						AL MES
					%li
						20 PUBLICACIONES INSTAGRAM
						%br 
						AL MES
					%li
						12 PUBLICACIONES GOOGLE +
						%br 
						AL MES
					%li
						MODERACIÓN COMENTARIOS
					%li
						INFORMES MENSUALES POR 
						%br
						RED SOCIAL
					%li
						ALTA AGREGADORES 
						%br 
						HOSTELERÍA 
						%span (2 RED)
					%li
						GESTIÓN CONCURSOS Y EVENTOS



