.section.description
	.description-text
		%p
			¿Cómo queremos comunicarnos con nuestros clientes? Para una buena relación es importante estar en todos los lados y en boca/red de nuestros cliente. Te ayudamos a iniciarte y si ya estás a guiarte y renovarte en el mundo de la comunicación online y redes sociales. Sabemos que no es fácil y por eso te queremos asesorar y que llegues a obtener el resultado ideal que imaginas. Estos packs son lo que creemos que puedes necesitar, no obstante pídenos si es que precisas algo más.

