= title(t('keppler.titles.index', model: "Users"))

.listing.col.l9.m12.s12
	= link_to new_user_path, class: "btn-add btn-floating btn-large waves-effect waves-light btn-new hide-on-small-only" do
		= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |user|
				= render 'listing', user: user
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.user"))
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"


= link_to new_user_path, class: "btn-add btn-index-add btn-floating btn-large waves-effect waves-light" do
	= material_icon.md_24.add.css_class("md-light")
