= title(t('keppler.titles.show', model: "Google adwords"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, GoogleAdword
				= link_to google_adword_path(@google_adword), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, GoogleAdword
				= link_to edit_google_adword_path(@google_adword), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to google_adwords_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card
			.card-content			
				%ul.list
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
						.display-value.fs-body-1.tc-black-2= @google_adword.id.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.url")
						.display-value.fs-body-1.tc-black-2= @google_adword.url.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.campaign_name")
						.display-value.fs-body-1.tc-black-2= @google_adword.campaign_name.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.description")
						.display-value.fs-body-1.tc-black-2= @google_adword.description.to_s.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.script")
						.display-value.fs-body-1.tc-black-2= @google_adword.script.to_s.humanize
