.section.visible-sm.visible-xs
	.pricing-xs 
		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					TAPAS
				.pricing-xs-price.pull-right					
					179€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#tapas-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#tapas-list
				%ul
					%li
						3 PROPUESTAS DE IMAGEN
						%span (2 revisiones)
					%li
						MANUAL CORPORATIVO

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					APERITIVO
				.pricing-xs-price.pull-right					
					249€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#aperitivo-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#aperitivo-list
				%ul
					%li
						3 PROPUESTAS DE IMAGEN
						%span (2 revisiones)
					%li
						MANUAL CORPORATIVO
					%li
						PAPELERÍA BÁSICA

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title.pricing-hightlight
					DEGUSTACIÓN
				.pricing-xs-price.pull-right					
					339€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#degustacion-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#degustacion-list
				%ul
					%li
						4 PROPUESTAS DE IMAGEN
						%span (2 revisiones)
					%li
						MANUAL CORPORATIVO
					%li
						PAPELERÍA BÁSICA
					%li
						CARTA/MENÚ
					%li
						FIRMA DIGITAL DE CORREO
					%li
						MERCHANDISING

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					GOURMET
				.pricing-xs-price.pull-right					
					459€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#gourmet-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#gourmet-list
				%ul
					%li
						4 PROPUESTAS DE IMAGEN
						%span (2 revisiones)
					%li
						MANUAL CORPORATIVO
					%li
						PAPELERÍA BÁSICA
					%li
						CARTA/MENÚ
					%li
						FIRMA DIGITAL DE CORREO
					%li
						MERCHANDISING
					%li
						DISEÑO DE PUBLICIDAD
					%li
						DISEÑO DE BANNERS

		.pricing-term
			Para todos los packs las Imagenes y textos serán proporcionados por el cliente, si no se contratan o incluyen.

