.section.description.hidden-sm.hidden-xs
	.pricing 
		.pricing-box.pricing-box-first
			%ul
				%li.right
					PROPUESTAS DE IMAGEN
				%li.right
					MANUAL CORPORATIVO
				%li.right
					PAPELERÍA BÁSICA
				%li.right
					CARTA/MENÚ
				%li.right
					FIRMA DIGITAL DE CORREO
				%li.right
					MERCHANDISING
				%li.right
					DISEÑO DE PUBLICIDAD
				%li.right
					DISEÑO DE BANNERS
				

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					TAPAS
				.center
					.pricing-line
				.pricing-price
					179€
			%ul
				%li.pricing-top-zero
					3 PROPUESTAS
					%br
					(2 revisiones)
				%li
					Sí
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No				

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					APERITIVO
				.center
					.pricing-line
				.pricing-price
					249€
			%ul
				%li.pricing-top-zero
					3 PROPUESTAS
					%br
					(2 revisiones)
				%li
					Sí
				%li
					Si
				%li
					Si
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No				

		.pricing-box.pricing-box-three
			.pricing-highlighted
				.pricing-head
					.pricing-title
						DEGUSTACIÓN
					.center
						.pricing-line
					.pricing-price
						399€
					.pricing-promo
						INCLUYE SESIÓN
					.pricing-promo
						FOTOGRÁFICA DE REGALO
				%ul
					%li.pricing-top-zero
						4 PROPUESTAS
						%br
						(3 revisiones)
					%li
						Sí
					%li
						Si
					%li
						Si
					%li
						Si
					%li
						Si
					%li.no-valid
						No
					%li.no-valid
						No				

		.pricing-box.pricing-box-four
			.pricing-head
				.pricing-title
					GOURMET
				.center
					.pricing-line
				.pricing-price
					459€
				.pricing-promo
					INCLUYE SESIÓN
				.pricing-promo
					FOTOGRÁFICA DE REGALO
			%ul
				%li.pricing-top-zero
					4 PROPUESTAS
					%br
					(3 revisiones)
				%li
					Sí
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					Si	
		%p.pricing-parraph 
			Imagenes y textos proporcionados por el cliente			
		.clearfix