.section.description
	.description-text
		%p
			La imagen es importante para tí y para nosotros. Los clientes son lo que primero juzgan sin apenas conocer y por ello es necesario transmitir lo más claro y visual posible la filosofía, estilo y servicio de tu empresa. Sabemos que no es fácil y por eso te queremos asesorar y que llegues a obtener el resultado ideal que imaginas. Estos packs son lo que creemos que puedes necesitar, no obstante pídenos si es que precisas algo más

