$text-colors: (
  ('darkgray' , $darkgray),
  ('lightgray' , $lightgray),
  ('mid-gray' , $mid-gray),
  ('blue' , $blue),
  ('black' , $black),
  ('white' , $white),
  ('yellow' , $yellow),
  ('gray' , $background)
);

@each $label, $color in $text-colors {

  .border-#{$label} {
    border: 1px solid $color;
  }

  // Text color
  .lab-text-#{$label} {
    color: $color;
  }

  .bg-#{$label} {
    background: $color;
  }

}

.shadow {
  box-shadow: 5px 5px 6px $darkgray;
}

.no-shadow {
  box-shadow: none;
}

.center {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
}

.right {
  @include align-items(right);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
}

.lab-input {
  border: 1.5px solid $background;
  font-size: 1.5rem;
  margin-top: 3%;
  padding: 1.5%;

  &:focus {
    outline: none;
  }
}
