/*----------------- Base -----------------*/

// Typography
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,200);

$sourcepro: 'Source Sans Pro', sans-serif;

// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1299px)",
  'lg': "(min-width: 1300px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$source-sans: 'Source Sans Pro', sans-serif;
$raleway: 'Raleway', sans-serif;
$monserrat: 'Monserrat-light';
$monserrat-normal: 'Monserrat-normal';

// Fonts size
$base-font-size: 10pt;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #ee6e73;

$yellow: #ffc006;
$green: #6db753;
$btngray: #b2b2b2;
$darkgray: #606060;
$gray:  #606060;
$lightgray: #6d6d6d;
$ultralight-gray: #cacaca;
$mid-gray: #5d5d5d;
$blue: #147099;
$newsletter: #bfbfbf;

$background: #f0f0ed;
$black: #000;
$white: #fff;
$darkbrown: #211a14;

$darkgray-transparent: rgba(96, 96, 96, .8);
$white-transparent: rgba(255, 255, 255, .8);
$lightgray-hover: #888080;
$green-hover: #52923c;
$white-hover: #e4e4e4;
$yellow-hover: #fba510;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
