.listing-show-header
	.actions
		- if can? :update, GoogleAnalyticsTrack
			= link_to edit_google_analytics_track_path(@google_analytics_track), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.insert_chart.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.google_analytics_track.name")
				.display-value= @google_analytics_track.name
			%li.list-row
				.display-label= t("activerecord.attributes.google_analytics_track.tracking_id")
				.display-value= @google_analytics_track.tracking_id
			%li.list-row
				.display-label= t("activerecord.attributes.google_analytics_track.url")
				.display-value
					= link_to @google_analytics_track.url, @google_analytics_track.url, target: "_blank"
			
			%li.list-row
				= link_to t('keppler.actions.back_history'), google_analytics_tracks_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
