= title(t('keppler.titles.show', model: "Google analytics tracks"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, GoogleAnalyticsTrack
				= link_to google_analytics_track_path(@google_analytics_track), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, GoogleAnalyticsTrack
				= link_to edit_google_analytics_track_path(@google_analytics_track), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to google_analytics_tracks_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card
			.card-content			
				%ul.list
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.id")
						.display-value.fs-body-1.tc-black-2= @google_analytics_track.id
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.name")
						.display-value.fs-body-1.tc-black-2= @google_analytics_track.name.humanize
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.tracking_id")
						.display-value.fs-body-1.tc-black-2= @google_analytics_track.tracking_id
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.url")
						.display-value.fs-body-1.tc-black-2
							= link_to @google_analytics_track.url, @google_analytics_track.url, target: "_blank"