$contact-gray: #7f7f7f;

.contact-us {
  font-family: $raleway;

  .cover-contact-us {
    @extend .cover;
    background-image: url('contacto.jpg');
  }

  .contact-form {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 9%;

    &-row {
      padding-top: 6.5%;
      width: 100%;
    }

    &-parraph {
      font-size: 1.5rem;
    }

    &-group {
      padding-top: 5.5%;
    }

    &-title {
      font-size: 2.1rem;
      font-weight: 400;
      padding-top: 5.5%;
    }

    &-phone {
      font-size: 2.4rem;
      font-weight: 200;
    }

    &-city {
      color: $contact-gray;
      font-size: 2.4rem;
      font-weight: 200;
    }

    &-city-2 {
      color: $contact-gray;
      font-size: 1.8rem;
      font-weight: 200;
    }

    &-map {
      height: 328px;
      margin-top: 4%;
      width: 100%;
    }

    &-fields {
      padding-left: 6.8%;
      padding-right: 19.5%;
      padding-top: 3.5%;
    }

    .first-label {
      @extend .contact-form-fields;
      margin-top: 0;
    }

    &-label {
      font-size: 1.75rem;
      font-weight: 100;
      margin-bottom: 0%;
      margin-top: 2.9%;
      padding-bottom: 2%;
    }

    &-company {
      @extend .lab-input;
      height: 52px;
      margin: 0;
      width: 100%;
    }

    &-textfield {
      @extend .lab-input;
      height: 52px;
      margin: 0;
      width: 78.5%;
    }

    &-textarea {
      @extend .lab-input;
      height: 270px;
      margin: 0;
      width: 100%;
    }

    &-border {
      @extend .contact-form-fields;
      border-left: 2px solid $black;
      padding-top: 0%;
    }

    &-btn {
      border: 2px solid $ultralight-gray;
      color: $gray;
      font-size: 2.05rem;
      font-weight: 400;
      margin-left: 7%;
      margin-top: 8.5%;
      padding-bottom: 4.4%;
      padding-left: 20.5%;
      padding-right: 20.5%;
      padding-top: 4.4%;

      @include respond-to(xs) {
        margin-bottom: 30px;
      }
      @include respond-to(sm) {
        margin-bottom: 50px;
      }
    }
  }
}

