.landing {
  .cover-index {
    @extend .cover;
    background-image: url('BackGround_Index.jpg');
    height: 100vh !important;

    .triangle {
      @include triangle(18px, $black, right);
      display: inline-block;
      margin: 0 20px;

      @include respond-to(sm) {
        @include triangle(12px, $black, right);
        margin: 0 10px;
      }
    }
  }

  .landing-btn {
    font-size: 2rem;
    margin-top: 4.3%;
    padding: 2.1% 6.1%;
    text-align: center;
    width: 378px;
    font-weight: 500;

    @include respond-to(xl) {
      width: 450px;
    }

    @include respond-to(md) {
      width: 300px;
    }

    @include respond-to(xs) {
      @include orientation(portrait) {
        width: 170px;
      }
    }
  }

  .blog,
  .about {
    p {
      font-size: 1.7rem;
      font-weight: 300;
      text-align: center;
    }
  }

  .about {
    padding-bottom: 3%;
    padding-top: 7.5%;

    &-first {
      padding-top: 1.9%;
    }

    &-second {
      padding-top: 3.2%;
    }
  }

  .service {
    padding-bottom: 4.2%;
    padding-top: 3.85%;

    &-title {
      margin-bottom: 4%;
    }

    &-brand {
      background-image: url('brand.jpg');
    }

    &-development {
      background-image: url('development.jpg');
    }

    &-social {
      background-image: url('social.jpg');
    }

    &-btn {
      @extend .landing-btn;
      color: $black;
    }

    &-btn:hover,
    &-btn:focus {
      text-decoration: none;
    }

  }

  .quotes {
    padding-bottom: 10.3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 9.8%;
    font-size: 1.7rem;

    .carousel-indicators {
      bottom: -79px;

      @include respond-to(xs) {
        bottom: -24px;
      }

      .active {
        background-color: $yellow;
        border: 1px solid $yellow;
        height: 17px;
        margin: 0;
        width: 17px;
      }

      li {
        border: 1px solid $ultralight-gray;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin: 1px;
        text-indent: -999px;
        width: 15px;
      }
    }
  }

  .cover-contact-us {
    @extend .cover;
    background-image: url('BackGround_Contacto.jpg');
    padding-top: 13.1%;

    h1 {
      font-size: 3.6rem;

      @include respond-to(sm) {
        font-size: 2.1rem;
      }

      @include respond-to(xs) {
        font-size: 1.3rem;
      }
    }

    h2 {
      font-size: 2.6rem;

      @include respond-to(sm) {
        font-size: 1.5rem;
      }

      @include respond-to(xs) {
        font-size: 1.1rem;
      }
    }

    &-btn {
      @extend .landing-btn;
      font-weight: 500;
      margin-bottom: 5.7%;
      margin-top: 4.6%;
      color: $black;
    }

    &-btn:hover,
    &-btn:focus {
      text-decoration: none;
    }
  }

  .blog {
    padding-bottom: 5.6%;
    padding-top: 4.1%;

    &-title {
      margin-bottom: 4.5%;
    }

    &-btn {
      @extend .landing-btn;
      border: 1px solid $ultralight-gray;
      color: $black;
      font-weight: 500;
      margin-top: 4.6%;
      text-align: center;
    }

    &-btn:hover,
    &-btn:focus {
      text-decoration: none;
    }
  }
}
