.newsletter {
  background: $newsletter;
  bottom: 0;
  padding: 30px;
  padding-top: 40px;
  position: fixed;
  right: 0;
  width: 310px;
  z-index: 1;

  @include respond-to(xl) {
    width: 440px;
  }

  @include respond-to(md) {
    width: 260px;
  }

  @include respond-to(sm) {
    width: 350px;
  }

  @include respond-to(xs) {
    padding: 5%;
    width: 260px;
  }

  &-info {
    display: flex;
  }

  &-info-img {
    display: inline-block;
    height: 70px;
    width: 29%;

    @include respond-to(xl) {
      height: 80px;
    }

    @include respond-to(md) {
      height: 50px;
    }

    @include respond-to(sm) {
      height: 70px;
    }

    @include respond-to(xs) {
      height: 35px;
    }

    img {
      height: 100%;
    }
  }

  &-info-text {
    color: $white;
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 10px;
  }

  &-title {
    font-size: 2rem;
  }

  &-btn {
    padding: 1px 30px;

    a {
      font-size: 1.5rem;
    }
  }

  &-form {
    text-align: center;

    &-input {
      border: 0;
      font-size: 1.5rem;
      margin: 30px 0 15px;
      text-align: center;
      width: 100%;
    }

    &-input:focus {
      outline: 0;
    }

    &-button {
      font-size: 2rem;
    }
  }

  &-sent {
    font-size: 2.2rem;
    color: $white;
    text-align: center;
    font-weight: 600;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
