.projects {
  .cover-projects {
    @extend .cover;
    background-image: url('proyectos.jpg');
    background-position: cover;
  }

  &-list {
    background: $background;
  }

  &-btn {
    padding: 0 2.8%;
    text-align: center;

    &-more {
      color: $black;
      cursor: pointer;
      font-size: 2.3rem;
      margin-top: 10px;
      text-decoration: none;
      width: 100%;

      @include respond-to(xs) {
        padding: 10px 25px;
      }
    }

    &-more:hover {
      color: $black;
      text-decoration: none;
    }

    @include respond-to(md) {
      padding: 0 10px;
    }

    @include respond-to(sm) {
      padding: 0 10px;
    }
  }

  &-gallery {

    .row {
      height: 620px;
      margin: 0;
      padding: 0 2%;
      position: relative;

      @include respond-to(xs) {
        height: auto;
      }

      @include respond-to(md) {
        padding: 0;
      }

      @include respond-to(sm) {
        padding: 0;
      }
    }


    &-single {
      background: $white;
      display: inline-block;
      margin: 10px;

      @include respond-to(xs) {
        margin: 0 0 20px;
      }
    }

    &-single-lg {
      @extend .projects-gallery-single;
      height: 600px;
      width: 65.1%;

      @include respond-to(md) {
        width: 64.5%;
      }

      @include respond-to(xs) {
        height: 200px;
        width: 100%;
      }

      @include respond-to(sm) {
        width: 63.6%;
      }
    }

    &-single-md {
      @extend .projects-gallery-single;
      height: 600px;
      left: 34%;
      position: absolute;
      width: 30.5%;

      @include respond-to(xs) {
        height: 200px;
        left: auto;
        position: relative;
        width: 100%;
      }

      @include respond-to(sm) {
        left: 33.3%;
      }
    }

    &-single-sm {
      @extend .projects-gallery-single;
      height: 290px;
      position: absolute;
      width: 30.5%;

      @include respond-to(xs) {
        height: 200px;
        position: relative;
        width: 100%;
      }
    }

    .single-up {
      top: 0;
    }

    .single-down {
      bottom: 0;
    }

    .single-right {
      right: 2%;

      @include respond-to(xs) {
        right: 0;
      }

      @include respond-to(md) {
        right: 0;
      }

      @include respond-to(sm) {
        right: 0;
      }
    }

    .single-left {
      left: 2%;

      @include respond-to(xs) {
        left: 0;
      }

      @include respond-to(md) {
        left: 0;
      }

      @include respond-to(sm) {
        left: 0;
      }
    }
  }
}
