.service-section {

  .cover-service-identity {
    @extend .cover;
    background-image: url('Background_IC.jpg');
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cover-service-web {
    @extend .cover;
    background-image: url('Background_Web.jpg');
  }

  .cover-service-socials {
    @extend .cover;
    background-image: url('Background_Sociales.jpg');
  }

  .description {
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6.5%;
    text-align: center;

    &-text {
      line-height: 4rem;
      margin-bottom: 50px;
      font-size: 1.7rem;
    }
  }

  .projects {
    .row {
      padding: 0 8%;

      @include respond-to(md) {
        padding: 0;
      }
    }

    .box-works {
      background: $background;
      height: 300px;
      font-family: $raleway;
      color: $darkgray;

      @include respond-to(md) {
        height: 200px;
      }

      @include respond-to(sm) {
        height: 200px;
      }

      @include respond-to(xs) {
        height: 150px;
        margin-bottom: 20px;
      }
    }
  }
}
