.services {
  .cover-services {
    @extend .cover;
    background-image: url('servicios.jpg');
  }

  .service {
    padding-bottom: 3.8%;
    padding-top: 6.5%;

    .lab-title {
      margin-bottom: 4.2%;
    }

    &-brand {
      background-image: url('brand.jpg');
    }

    &-development {
      background-image: url('development.jpg');
    }

    &-social {
      background-image: url('social.jpg');
    }
  }
}
