.team {
  .cover-team {
    @extend .cover;
    background-image: url('team.jpeg');
  }

  .about {
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6.5%;
    text-align: center;

    &-first {
      line-height: 40px;
      font-size: 1.7rem;
      margin-top: 5.5%;

      @include respond-to(xs) {
        line-height: 20px;
      }
    }

    &-second {
      font-size: 1.7rem;
      line-height: 40px;
      margin-top: 5.4%;

      @include respond-to(xs) {
        line-height: 20px;
      }
    }
  }

  .lab {
    font-family: $raleway;
    font-size: 1.4rem;
    font-weight: 300;
    padding-bottom: 8.5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6.5%;
    text-align: center;

    &-first {
      font-size: 1.7rem;
      line-height: 40px;
      margin-top: 5.5%;

      @include respond-to(xs) {
        line-height: 20px;
      }
    }
  }

  .lab-image {
    background-image: url('lab.jpeg');
    background-position: 100% 43%;
    background-size: cover;
    height: 354px;
    width: 100%;

    @include respond-to(xs) {
      height: 154px;
    }
  }

  .services {
    padding-bottom: 8.5%;

    @include respond-to(xs) {
      padding-top: 8.5%;
    }

    &-btn {
      border: 1px solid $ultralight-gray;
      font-size: 2.1rem;
      font-weight: 500;
      padding: 2.1% 6.1%;
      width: 378px;
      color: $black;
      text-align: center;

      @include respond-to(xl) {
        width: 450px;
      }

      @include respond-to(md) {
        width: 300px;
      }

      @include respond-to(xs) {
        @include orientation(portrait) {
          width: 170px;
        }
      }

      &:focus,
      &:hover {
        color: $black;
        outline: 0;
        text-decoration: none;
      }
    }
  }

}
