.section.about
	%h2.lab-title	¿QUÉ HACEMOS?

	.about-first
		%p
			Queremos que centres tus esfuerzos y tu tiempo en tu negocio. Nosotros nos encargaremos de transmitir a tu público una imagen y un 
		%p 
			mensaje adecuado que permitirá crear una  elación más directa y duradera con tus clientes.
	.about-second
		%p
			Nuestro equipo sabe lo que tu empresa necesita. Pensamos, creamos, diseñamos y desarrollamos basándonos en las necesidades reales
		%p 
			de tu negocio. Ofrecemos siempre el servicio más adaptado y personalizado para que consigas el resultado que deseas con los medios que
		%p 
			dispones.