.section.center.blog
	%h2.lab-title.blog-title
		EXTRAS
		%span LAB
		BLOG

	%p	¿Quieres conocer un poco más sobre nuestro mundo?
	%p	En nuestro blog encontrarás la última actualidad sobre la tecnología en el turismo y sector servicios

	%a.lab-btn.lab-btn-big.lab-btn-white.blog-btn{href: "#"}
		IR AL BLOG