.cover-contact-us
	.center
		%h1.lab-title-inverse
			PROFESIONALIDAD, EMPATÍA Y CALIDAD
		%h2.lab-title-inverse
			SABEMOS LO QUE TUS CLIENTES QUIEREN VER, LEER Y ESCUCHAR

		%a.lab-btn.lab-btn-big.lab-btn-white.cover-contact-us-btn{href: "/contact_us"}
			CONTÁCTANOS