.cover-index
	.center
		%h1.lab-title-inverse
			AGENCIA CREATIVA
		%h2.lab-title-inverse
			ESPECIALIZADA EN RESTAURACIÓN, HOSTELERÍA Y TURISMO
		%h3.lab-text-black.hidden-xs
			DISEÑO IDENTIDAD CORPORATIVA
			.triangle
			DESARROLLO WEB
			.triangle
			REDES SOCIALES Y COMUNICACIÓN
	= render 'newsletter'