.section.quotes
	#carousel-quotes.carousel.slide{"data-ride" => "carousel"}
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#carousel-quotes"}
			%li{"data-slide-to" => "1", "data-target" => "#carousel-quotes"}
			%li{"data-slide-to" => "2", "data-target" => "#carousel-quotes"}
		.carousel-inner{:role => "listbox"}
			.item.active
				.lab-quote.center
					.lab-quote-text
						%i.lab-text-yellow “
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
						%i.end-quote.lab-text-yellow ”
					.lab-quote-data
						.lab-quote-data-image
							= image_tag 'frontend/perfil-h.png', id: 'photo-partner'
						.lab-quote-data-name.lab-text-lightgray
							%p
								%span Juan Manuel
								Grupo Ricard Camarena
			.item
				.lab-quote.center
					.lab-quote-text
						%i.lab-text-yellow “
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
						%i.end-quote.lab-text-yellow ”
					.lab-quote-data
						.lab-quote-data-image
							= image_tag 'frontend/perfil-h.png', id: 'photo-partner'
						.lab-quote-data-name.lab-text-lightgray
							%p
								%span Juan Manuel
								Grupo Ricard Camarena
			.item
				.lab-quote.center
					.lab-quote-text
						%i.lab-text-yellow “
						Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
						%i.end-quote.lab-text-yellow ”
					.lab-quote-data
						.lab-quote-data-image
							= image_tag 'frontend/perfil-h.png', id: 'photo-partner'
						.lab-quote-data-name.lab-text-lightgray
							%p
								%span Juan Manuel
								Grupo Ricard Camarena
