.section.bg-gray.service
	%h2.lab-title.service-title NUESTROS SERVICIOS
	.row.lab-gallery
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/identity"}
				.lab-gallery-item.service-brand
					.lab-gallery-item-text
						DISEÑO DE IDENTIDAD CORPORATIVA
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/web"}
				.lab-gallery-item.service-development
					.lab-gallery-item-text
						DESARROLLO WEB
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/socials"}
				.lab-gallery-item.service-social
					.lab-gallery-item-text
						REDES SOCIALES Y COMUNICACIÓN
	.center
		%a.lab-btn.lab-btn-big.lab-btn-white.service-btn{href: "/projects"}
			VER TRABAJOS		
