.front-footer
	.front-footer-container
		.row
			.col-lg-5.col-md-6.col-sm-12.col-xs-12
				= image_tag('frontend/Logo_Blanco.png')
				%p.text-light
					Tu agencia creativa especializada en empresas, restauración, hostelería y turismo. Mientras tu lo piensas, nosotros lo hacemos.
			.col-lg-7.col-md-6.hidden-sm.hidden-xs.nav-footer
				%a.line{href: "/"} INICIO
				%a.line{href: "/services"} SERVICIOS
				%a.line{href: "/projects"} TRABAJOS
				%a.line{href: "/blog"} BLOG
				%a{href: "/contact_us"} CONTACTO
	%hr
	.front-footer-container
		.row
			.col-lg-8.col-md-8.col-sm-12.col-xs-12.rights
				Extras Lab by © 2016 All rights reserved. Web design by Extras Lab.
			.col-lg-4.col-md-4.col-sm-12.col-xs-12.socials
				= link_to "https://www.facebook.com/ExtrasLab" do
					%i.fa.fa-facebook
				= link_to "" do
					%i.fa.fa-google-plus
				= link_to "https://www.instagram.com/extraslab/" do
					%i.fa.fa-instagram
				= link_to "" do
					%i.fa.fa-linkedin
				= link_to "https://twitter.com/ExtrasLab?lang=es" do
					%i.fa.fa-twitter