%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
= csrf_meta_tags
- if @meta
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : "#{@meta.description}"}"}
	= raw @meta.meta_tags
	%title= content_for?(:title) ? yield(:title) : @meta.title
- else
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : "#{@setting.description}"}"}
	%title= content_for?(:title) ? yield(:title) : @setting.name