-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top.front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.brand-logo.navbar-brand
        = link_to "/" do
          = image_tag('frontend/Logo_Negro.png')
    %ul.nav.navbar-nav.pull-right
      %li
        %a{href: "/"}
          INICIO

      %li
        %a{href: "/services"}
          SERVICIOS

      %li
        %a{href: "/team"}
          NOSOTROS

      %li
        %a{href: "/projects"}
          TRABAJOS

      %li
        %a{href: "/blog"}
          BLOG

      %li
        %a{href: "/contact_us"}
          CONTACTO

    %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      #menu
    %ul.dropdown-menu
      %li
        %a{href: "/"}
          INICIO
      %li
        %a{href: "/services"}
          SERVICIOS
      %li
        %a{href: "/team"}
          NOSOTROS
      %li
        %a{href: "/projects"}
          TRABAJOS
      %li
        %a{href: "/blog"}
          BLOG
      %li
        %a{href: "/contact_us"}
          CONTACTO