.section.projects-list
	%h2.lab-title ÚLTIMOS PROYECTOS
	.projects-gallery
		.row
			.projects-gallery-single-lg
			.projects-gallery-single-sm.single-up.single-right
			.projects-gallery-single-sm.single-down.single-right
		.row.row-loadable
			.projects-gallery-single-sm.single-up.single-left
			.projects-gallery-single-sm.single-down.single-left
			.projects-gallery-single-md
			.projects-gallery-single-sm.single-up.single-right
			.projects-gallery-single-sm.single-down.single-right
		.projects-btn.center
			%a.lab-btn.lab-btn-big.lab-btn-white.projects-btn-more{ onclick: 'moreProjects()' }
				VER MÁS PROYECTOS
