.section.description.hidden-sm.hidden-xs
	.pricing 
		.pricing-box.pricing-box-first
			%ul
				%li.right
					WEB AUTOGESTIONABLE
				%li.right
					DISEÑO ADAPTADO A
					%br
					TODOS LOS DISPOSITIVOS
				%li.right
					NÚMERO DE PÁGINAS
					%br
					DENTRO DE LA WEB
				%li.right
					ENLACE A REDES SOCIALES
				%li.right
					ALTA EN REDES SOCIALES
				%li.right
					FORMULARIO DE CONTACTO
				%li.right
					MANUAL WEB
				%li.right
					ALTA GOOGLE MY BUSINESS
				%li.right
					OPTIMIZACIÓN SEO
				%li.right
					NEWSLETTER
				%li.right
					CONFIGURACIÓN
					PLUGGINS
				%li.right
					ALTA AGREGADORES
				%li.right
					GESTIÓN DE RESERVAS
				%li.right
					PACK HOSTING + DOMINIO
					%br
					(MANTENIMIENTO 6 MESES)

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					TAPAS
				.center
					.pricing-line
				.pricing-price
					399€
			%ul
				%li
					Sí
				%li
					Sí
				%li
					HOME + 
					%span
						3 
					PÁGINAS
				%li
					Sí
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No

		.pricing-box.pricing-box-second
			.pricing-head
				.pricing-title
					APERITIVO
				.center
					.pricing-line
				.pricing-price
					499€
			%ul
				%li
					Sí
				%li
					Sí
				%li
					HOME + 
					%span
						4 
					PÁGINAS
				%li
					Sí
				%li
					Facebook Fanpage
				%li
					Si
				%li
					Si
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No
				%li.no-valid
					No

		.pricing-box.pricing-box-three
			.pricing-highlighted
				.pricing-head
					.pricing-title
						DEGUSTACIÓN
					.center
						.pricing-line
					.pricing-price
						649€
					.pricing-promo
						INCLUYE SESIÓN
					.pricing-promo
						FOTOGRÁFICA DE REGALO
				%ul
					%li
						Sí
					%li
						Sí
					%li
						HOME + 
						%span
							5 
						PÁGINAS
					%li
						Sí
					%li
						%span
							2
						redes
					%li
						Si
					%li
						Si
					%li
						Si
					%li
						Si
					%li
						Si
					%li
						%span
							3
						pluggins
					%li.no-valid
						No
					%li.no-valid
						No
					%li.no-valid
						No

		.pricing-box.pricing-box-four
			.pricing-head
				.pricing-title
					GOURMET
				.center
					.pricing-line
				.pricing-price
					799€
				.pricing-promo
					INCLUYE SESIÓN
				.pricing-promo
					FOTOGRÁFICA DE REGALO
			%ul
				%li
					Sí
				%li
					Sí
				%li
					HOME + 
					%span
						6 
					PÁGINAS
				%li
					Sí
				%li
					%span
						2
					redes
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					Si
				%li
					%span
						5
					pluggins
				%li
					Si
				%li
					Si
				%li
					Si
		.clearfix