.section.visible-sm.visible-xs
	.pricing-xs 
		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					TAPAS
				.pricing-xs-price.pull-right					
					399€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#tapas-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#tapas-list
				%ul
					%li
						WEB AUTOGESTIONABLE
					%li
						DISEÑO ADAPTADO A TODOS LOS DISPOSITIVOS
					%li
						HOME + 3 PÁGINAS
					%li
						ENLACE A REDES SOCIALES

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					APERITIVO
				.pricing-xs-price.pull-right					
					499€
				.clearfix
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#aperitivo-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#aperitivo-list
				%ul
					%li
						WEB AUTOGESTIONABLE
					%li
						DISEÑO ADAPTADO A TODOS LOS DISPOSITIVOS
					%li
						HOME + 4 PÁGINAS
					%li
						ENLACE A REDES SOCIALES
					%li
						FACEBOOK FANPAGE
					%li
						FORMULARIO DE CONTACTO
					%li
						MANUAL WEB

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title.pricing-hightlight
					DEGUSTACIÓN
				.pricing-xs-price.pull-right					
					649€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#degustacion-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#degustacion-list
				%ul
					%li
						WEB AUTOGESTIONABLE
					%li
						DISEÑO ADAPTADO A TODOS LOS DISPOSITIVOS
					%li
						HOME + 5 PÁGINAS
					%li
						ENLACE A REDES SOCIALES
					%li
						ALTA EN 2 REDES SOCIALES
					%li
						FORMULARIO DE CONTACTO
					%li
						MANUAL WEB
					%li
						ALTA GOOGLE MY BUSINESS
					%li
						OPTIMIZACIÓN SEO
					%li
						NEWSLETTER
					%li
						3 PLUGGINS

		.pricing-xs-box 
			.pricing-head
				.pricing-xs-title
					GOURMET
				.pricing-xs-price.pull-right					
					799€
				.clearfix
			.pricing-photo-message
				INCLUYE SESIÓN FOTOGRÁFICA DE REGALO
			%button.pricing-include{"data-toggle"=>"collapse", "data-target"=>"#gourmet-list"}
				¿QUÉ INCLUYE?
				%span.pull-right
					.fa.fa-angle-down
			.pricing-list.collapse#gourmet-list
				%ul
					%li
						WEB AUTOGESTIONABLE
					%li
						DISEÑO ADAPTADO A TODOS LOS DISPOSITIVOS
					%li
						HOME + 6 PÁGINAS
					%li
						ENLACE A REDES SOCIALES
					%li
						ALTA EN 2 REDES SOCIALES
					%li
						FORMULARIO DE CONTACTO
					%li
						MANUAL WEB
					%li
						ALTA GOOGLE MY BUSINESS
					%li
						OPTIMIZACIÓN SEO
					%li
						NEWSLETTER
					%li
						5 PLUGGINS
					%li
						ALTA AGREGADORES
					%li
						GESTIÓN DE RESERVAS
					%li
						PACK HOSTING + DOMINIO
						%br 
						(MANTENIMIENTO 6 MESES)

		.pricing-term
			Para todos los packs las Imagenes y textos serán proporcionados por el cliente, si no se contratan o incluyen.



