.breafing {
  background: $background;
  font-weight: 400;
  padding-left: 13%;
  padding-right: 14%;

  @include respond-to(md) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include respond-to(sm) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include respond-to(xs) {
    padding-left: 5%;
    padding-right: 5%;
  }

  &-box {
    padding-bottom: 8%;
    padding-left: 4.6%;
    padding-right: 3.8%;
    padding-top: 5.7%;
    width: 100%;

    .lab-title {
      font-size: 3.55rem;
      margin-bottom: 5.5%;
    }
  }

  &-form {
    font-family: $raleway;
    font-size: 1.4rem;

    &-title {
      font-size: 1.6rem;
      font-family: $raleway;
      margin-bottom: 3%;
    }

    &-radio-label,
    label {
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 2px;
      @include respond-to(xs){
        font-size: 1.4rem;
      }
    }
    &-label > span {
      @include respond-to(md) {
        font-size: 1.35rem;
      }
    }

    &-company-name {
      @extend .lab-input;
      height: 45px;
      width: 100%;

      @include respond-to(sm) {
        width: 100%;
      }

      @include respond-to(xs) {
        width: 100%;
      }
    }

    &-textfield {
      @extend .lab-input;
      height: 45px;
      margin-top: 5%;
      padding: 4%;
      width: 100%;

      @include respond-to(sm) {
        margin-top: 5%;
      }

      @include respond-to(xs) {
        margin-top: 5%;
      }
    }

    &-textarea {
     @extend .lab-input;
      height: 164px;
      margin: 0;
      width: 100%;

      @include respond-to(sm) {
        margin-top: 5%;
      }

      @include respond-to(xs) {
        margin-top: 5%;
      }
    }

    &-row-1 {
      margin-left: -.5%;
      margin-right: -.5%;
    }

    &-row-2 {
      margin-left: -1.5%;
      margin-right: -1.5%;
      margin-top: 5.3%;
    }

    &-col {
      padding-left: .5%;
      padding-right: .5%;
    }

    &-terms {
      font-size: 1.2rem;
      margin-top: 10px;

      .margin {
        margin: 0;
        margin-bottom: 6px;
      }

      .bold {
        font-weight: 600;
      }

    }

    .lab-btn-breafing {
      color: $white;
      font-size: 1.72rem;
      height: 48px;
      width: 100%;

      @include respond-to(xl) {
        height: 57px;
      }
    }
    .col-textfield {
      padding-right: 0;
      @include respond-to(xs) {
        padding-right: 15px;
      }
      @include respond-to(sm) {
        padding-right: 15px;
      }
    }
    .col-textarea {
      padding-left: 12px;
      @include respond-to(xs) {
        padding-left: 15px;
      }
      @include respond-to(sm) {
        padding-left: 15px;
      }
    }
  }
}