.front-footer {
  background: $gray;
  color: $white;
  font-family: $source-sans;
  font-size: 1.4rem;
  font-weight: $light;
  overflow: hidden;
  padding: 2.4% 2.9% 3% 1.8%;
  width: 100%;

  @include respond-to(sm) {
    padding-top: 6%;
  }

  @include respond-to(xs) {
    padding-top: 10%;
  }

  &-container {
    margin-left: 5.3%;
    margin-right: 1.9%;

    img {
      margin: 0;
      margin-bottom: 3.7%;
      width: 42%;
    }
  }

  hr {
    border: 1px solid $white;
    width: 100%;
  }

  .footer-title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .rights {
    font-size: 1.6rem;

    @include respond-to(xs) {
      text-align: center;
    }
  }

  .nav-footer {
    text-align: right;

    a {
      color: $white;
      padding-left: 1%;
      padding-right: 1%;
    }

    .line {
      border-right: 1px solid $white;
    }
  }

  li {
    display: block;
    padding-bottom: 5px;
  }

  .socials {
    color: $white;
    float: right;
    margin-bottom: 0;
    text-align: right;

    @include respond-to(sm) {
      margin-top: 3%;
      text-align: center;
    }

    @include respond-to(xs) {
      margin-top: 6%;
      text-align: center;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }

    i {
      color: $white;
      font-size: 2.5rem;
      margin-right: 15px;

      @include respond-to(sm) {
        font-size: 20px;
      }
    }
  }
}
