$pricing: #106e97;
$pricing-yellow: #ffbf03;
$pricing-gray: #efefef;
$pricing-darkgray:#c5c5c5;

.pricing {
  padding-top: 10%;
  position: relative;

   &-title-favorite {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2px;
  }

  &-line-favorite {
    border-bottom: 5px solid $pricing-yellow;
    width: 80%;
  }

  &-price-favorite {
    font-size: 3.2rem;
    font-weight: bold;
    margin-top: 0;
  }

  &-promo-favorite {
    font-size: .9rem;
    font-weight: 400;
  }

  .pricing-top-zero {
    padding-top: 0;

    @include respond-to(xl) {
      padding-top: 2px;
    }

    @include respond-to(md) {
      padding-top: 3px;
    }
  }

  .pricing-parraph {
    bottom: 163px;
    font-size: 1rem;
    font-weight: 400;
    left: 31%;
    position: absolute;

    @include respond-to(xl) {
      bottom: 190px;
    }

    @include respond-to(md) {
      bottom: 130px;
    }
  }

  &-box-first {
    float: left;
    width: 29%;

    ul {
      border-bottom: 2px solid $pricing-gray;
      border-left: 2px solid $pricing-gray;
      border-top: 2px solid $pricing-gray;
      padding-bottom: 50px;
      padding-left: 20%;
      padding-right: 10%;
      padding-top: 12px;
    }

    li {
      color: $pricing;
      font-size: 1.15rem;
      font-weight: 500;
      height: 40px;
      list-style-type: none;
      margin-top: 10px;
      text-align: right;

      @include respond-to(xl) {
        height: 50px;
      }

      @include respond-to(md) {
        height: 33px;
      }
    }
  }

  &-box-second {
    float: left;
    position: relative;
    top: -117px;
    width: 16.7%;

    @include respond-to(xl) {
      top: -131px;
    }

    @include respond-to(md) {
      top: -95px;
    }

    .pricing-head {
      margin-bottom: 38px;
    }

    .pricing-title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2px;
    }

    .pricing-line {
      border-bottom: 3px solid $pricing;
      width: 75%;
    }

    .pricing-price {
      font-size: 2.1rem;
      font-weight: bold;
      margin-top: 2px;
    }

    .pricing-promo {
      font-size: .7rem;
    }

    ul {
      border-bottom: 2px solid $pricing-gray;
      border-top: 2px solid $pricing-gray;
      padding-bottom: 41px;
      padding-left: 2%;
      padding-right: 2%;
      padding-top: 21px;
    }

    li {
      border: 2px solid $pricing-gray;
      font-size: 1rem;
      font-weight: 500;
      height: 40px;
      list-style-type: none;
      margin-bottom: 10px;
      padding: 9px;
      text-align: center;

      @include respond-to(xl) {
        height: 50px;
      }

      @include respond-to(md) {
        height: 33px;
      }

      span {
        font-weight: bold;
      }
    }

    .no-valid {
      background: $pricing-gray;
    }
  }

  &-box-three {
    border-bottom: 2px solid $pricing-gray;
    float: left;
    padding-bottom: 40px;
    position: relative;
    top: -148px;
    width: 18%;
    z-index: 1;

    @include respond-to(xl) {
      top: -180px;
    }

    @include respond-to(md) {
      top: -103px;
    }

    .pricing-highlighted {
      box-shadow: 2px 2px 10px $pricing-darkgray;
      padding: 2%;
      padding-bottom: 1px;
      padding-top: 8.5%;
    }

    .pricing-head {
      margin-bottom: 16px;
    }

    .pricing-title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2px;
    }

    .pricing-line {
      border-bottom: 5px solid $pricing-yellow;
      width: 75%;
    }

    .pricing-price {
      font-size: 3.2rem;
      font-weight: bold;
      margin-top: 2px;
    }

    .pricing-promo {
      font-size: 1rem;
    }

    ul {
      padding: 0;
      padding-left: 2%;
      padding-right: 2%;
    }

    li {
      border: 2px solid $pricing-gray;
      font-size: 1rem;
      font-weight: 500;
      height: 40px;
      list-style-type: none;
      margin-bottom: 10px;
      padding: 9px;
      text-align: center;

      @include respond-to(xl) {
        height: 50px;
      }

      @include respond-to(md) {
        height: 33px;
      }

      span {
        font-weight: bold;
      }
    }

    .no-valid {
      background: $pricing-gray;
    }
  }

  &-box-four {
    float: left;
    position: relative;
    top: -119px;
    width: 19.6%;

    @include respond-to(xl) {
      top: -139px;
    }

    @include respond-to(md) {
      top: -93px;
    }

    .pricing-head {
      margin-bottom: 16px;
    }

    .pricing-title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2px;
    }

    .pricing-line {
      border-bottom: 3px solid $pricing;
      width: 60%;
    }

    .pricing-price {
      font-size: 2.1rem;
      font-weight: bold;
      margin-top: 2px;
    }

    .pricing-promo {
      font-size: .7rem;
    }

    ul {
      border-bottom: 2px solid $pricing-gray;
      border-right: 2px solid $pricing-gray;
      border-top: 2px solid $pricing-gray;
      padding-bottom: 41px;
      padding-left: 4%;
      padding-right: 13%;
      padding-top: 21px;
    }

    li {
      border: 2px solid $pricing-gray;
      font-size: 1rem;
      font-weight: 500;
      height: 40px;
      list-style-type: none;
      margin-bottom: 10px;
      padding: 9px;
      text-align: center;

      @include respond-to(xl) {
        height: 50px;
      }

      @include respond-to(md) {
        height: 33px;
      }

      span {
        font-weight: bold;
      }
    }

    .no-valid {
      background: $pricing-gray;
    }
  }
}
