$pricing: #106e97;
$pricing-yellow: #ffbf03;
$pricing-gray: #efefef;
$pricing-darkgray:#c5c5c5;

.pricing-xs {
  .pricing-xs-box {
    border: 1px solid $pricing-gray;
    margin-bottom: 2rem;
    padding: 5px;

    .pricing-head {
      margin-bottom: 1.5rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      padding-top: 2.5rem;
    }

    .pricing-xs-title {
      border-right: 4px solid $pricing;
      float: left;
      font-size: 2.5rem;
      font-weight: 600;
      padding-right: 1.5rem;
    }

    .pricing-hightlight {
      border-right: 4px solid $pricing-yellow;
      font-weight: 700;
    }

    .pricing-xs-price {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .pricing-photo-message {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .pricing-include {
      background: $white;
      border: 1px solid $pricing-gray;
      box-shadow: .2rem .2rem 0 $pricing-darkgray;
      color: $pricing;
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: .3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding: 1rem;
      text-align: left;
      width: 100%;

      &:focus {
        outline: 0;
      }

      span {
        font-size: 2rem;
      }
    }

    .pricing-list {
      background: $pricing-gray;
      color: $pricing;
      padding: 1rem;
      font-size: 1.5rem;

      ul {
        padding: 0;
      }

      li {
        list-style-type: none;
        margin-bottom: 1rem;

        span {
          color: $black;
        }
      }
    }
  }

  .pricing-term {
    color: #545454;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
  }
}
