footer {
  font-family: 'Source Sans Pro', sans-serif;
}

nav,
.landing,
.cover,
.about,
.blog,
.quote,
.service-section,
.newsletter,
.team,
.projects-btn-more {
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: Monserrat-light;
  src: url("/assets/Montserrat-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: Monserrat-normal;
  src: url("/assets/Montserrat-Light.otf") format("opentype");
}