.collection-item.avatar
	= material_icon.md_24.delete.css_class("circle") 
	%b
		= activity.owner.name if activity.owner
	= t('keppler.actions.delete').downcase 
	= activity.trackable_type.downcase 
	= t('keppler.messages.at')
	= activity.created_at