.collection-item.avatar
	= material_icon.md_24.create.css_class("circle") 
	%b
		= activity.owner.name if activity.owner
	= t('keppler.actions.update').downcase 
	= activity.trackable_type.downcase 
	- if activity.trackable
		= t('keppler.messages.to') 
		%b
			= activity.trackable.send(method)
		= t('keppler.messages.at')
		= activity.created_at
	- else
		= t('keppler.messages.at')	
		= activity.created_at
		= t('keppler.messages.since_been_removed')