.section.breafing
	.center
		.breafing-box.bg-white
			.lab-title
				TE ORIENTAMOS SIN COMPROMISO
			%p.breafing-form-title ¿Qué es lo que necesita tu empresa?
			%form.breafing-form
				.row
					.col-lg-3.col-md-3.col-textfield
						%p
							%label.breafing-form-label
								%input.breafing-form-radio{type: "radio", name:"breafing-radio", value: "Diseño de identidad corporativa"}
								%span Diseño de identidad corporativa
						%p
							%label.breafing-form-label
								%input.breafing-form-radio{type: "radio", name:"breafing-radio", value: "Desarrollo web"}
								%span Desarrollo web
						%p
							%label.breafing-form-label
								%input.breafing-form-radio{type: "radio", name:"breafing-radio", value: "Comunicación y redes sociales"}
								%span Comunicación y redes sociales
						%input.breafing-form-company-name{type: "text", name: "type_company", placeholder: "Tipo de empresa"}
					.col-lg-9.col-md-9.col-textarea
						%textarea.breafing-form-textarea{name: "description", placeholder: "Explícanos brevemente tu idea y qué es lo que andas buscando. En menos de 48 horas nos pondremos en contacto contigo. ¡Hablamos!"}
				.row.breafing-form-row-1
					.col-lg-3.col-md-3.breafing-form-col
						%input.breafing-form-textfield{type: "text", name: "name", placeholder: "Nombre*"}
					.col-lg-3.col-md-3.breafing-form-col
						%input.breafing-form-textfield{type: "text", name: "email", placeholder: "Email de contacto*"}
					.col-lg-3.col-md-3.breafing-form-col
						%input.breafing-form-textfield{type: "text", name: "email_confirmation", placeholder: "Confirmar email*"}
					.col-lg-3.col-md-3.breafing-form-col
						%input.breafing-form-textfield{type: "text", name: "phone", placeholder: "Telefono (Opcional)"}
				.row.breafing-form-row-2
					.col-lg-3.col-md-3
						%button.lab-btn.lab-btn-green.lab-btn-breafing
							ENVIAR
					.col-lg-9.col-md-9
						.breafing-form-terms
							%p.margin
								* Campos obligatorios
							Enviando tus datos aprubas la
							%span.bold
								Política de Privacidad


