.section.projects
	.center
		.projects-box.bg-white
			.lab-title
				ALGUNOS TRABAJOS

	#carousel-projects.carousel.slide{"data-ride" => "carousel"}
		.carousel-inner{:role => "listbox"}
			.item.active
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								1
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								2
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								3
			.item
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								4
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								5
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						.box-works
							.center{style: "font-size: 4.5rem;"}
								6
