.section.service
	%h2.lab-title.service-title ¿QUÉ OFRECEMOS?
	.row.lab-gallery
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/identity"}
				.lab-gallery-item.service-brand
					.lab-gallery-item-text
						DISEÑO DE IDENTIDAD CORPORATIVA
			%ul.lab-gallery-list
				%li Estudio de la marca
				%li Diseño de marca
				%li Rediseño de la imagen
				%li Manual de identidad corporativa
				%li Aplicaciones de la marca
				%li Diseño grafico de publicidad
			.lab-gallery-list-btn
				%a.lab-btn-service{href: "/identity"}
					Más información
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/web"}
				.lab-gallery-item.service-development
					.lab-gallery-item-text
						DESARROLLO WEB
			%ul.lab-gallery-list
				%li Diseño de la página web
				%li Programación y desarrollo
				%li Rediseño/actualización de tu página
				%li Mantenimiento de web
				%li Desarrollo de sistemas de gestión
				%li Optimización SEO de la página
			.lab-gallery-list-btn
				%a.lab-btn-service{href: "/web"}
					Más información
		.lab-gallery-col.col-lg-4.col-md-4
			%a{href: "/socials"}
				.lab-gallery-item.service-social
					.lab-gallery-item-text
						REDES SOCIALES Y COMUNICACIÓN
			%ul.lab-gallery-list-2
				%li Campañas publicitarias
				%li Newsletter
				%li Alta y gestion de redes sociales (Facebook, Instagram, Twitter, Google +)
				%li Alta y gestión de agregadores especializados (Tripadvisor, Yelp, ElTenedor, GoogleMyBusiness)
			.lab-gallery-list-btn
				%a.lab-btn-service{href: "/socials"}
					Más información
